<div class="col-lg-8 col-lg-offset-2 well">
      <center><h4 style="color:#660066;font-weight: bold;">
          <%= pluralize(current_user.notifications.count, 'Notification') %></h4></center>
          <%= render @notifications %>

        <center>
            <%= will_paginate @notifications, renderer: BootstrapPagination::Rails %>
        <center>
</div>

        
    

