    <style>
        body {
            background: linear-gradient( 
                rgba(0,0,0, 0.4),
                rgba(0,0,0, 0.4)
                ), url("/star.jpg") no-repeat center center fixed            
        }   
    </style>

  <div class="col-lg-6 col-lg-offset-3">

    
     <center>
      <div class="panel panel-default">
        <div class="panel-body row">
          <h3 style="color:#660066;font-weight: bold;">About vAyTe </h3> <center>
          <hr>
                <center>
                          <b>vAyTe is an online directory that allows bright </b> <b> minds to connect and
                          talk about ideas, </b> <b>topics that they are passionate or</b> <b>interested about.
                           
                          </b>
                           </center> <hr><h4 style="color:#660066;font-weight: bold;"> Users can:) </h4>
                           <center><b>
                        I) Search for Friends, Families and School Mates. Checkout their Profile
                        to </b> <b>Learn about them, Interests, Favourites and Passions. </b> 
                      <center><br><b>II) Find motivation from anyone who motivate you and connect/follow them.</b> </center>
                      <center> <br> <b>III)</b><b style="color:#660066;font-weight: bold;"> Post contents 
                           on your status[ creative ideas, passions and interests].</b></center> 
                      <br> <b>IV)</b><b style="color:#660066;font-weight: bold;"> Give a shouout to those that inspire you 
                      and tell them how they are of inspiration to you</b>
                       <center><br><b> V) </b> <b> Message anyone that uses vAyTe. </b>  </center>
                        <center> <br> <b>VI)</b><b style="color:#990033;font-weight: bold;"> Comment on a post. </b> </center>
                       <center><br><b> VII) </b> <b style="color:#CC0000;font-weight: bold;"> Like a post. </b>  </center>


        </div>
      </div>
      <div class="panel panel-primary">
          <div class="panel-body row">
            <center>
              <h5 style="color:#660066;font-weight: bold;">Founder & CEO: Brima Manso Bangura </h5>
              <b>a Brima Manso Bangura production</b> <br>
              <h5 style="color:#660066;font-weight: bold;">vAyTe (c) 2018 </h5>
            </center>
          </div>
      </div>
  </div>
