    <style>
        body {
            background: linear-gradient( 
                rgba(0,0,0, 0.4),
                rgba(0,0,0, 0.4)
                ), url("/star.jpg") no-repeat center center fixed            
        }   
    </style>

  <div id="newsfeed" class="col-lg-6 col-lg-offset-3">

    
     <center>
      <div class="panel panel-default">
        <div class="panel-body row">
          <h3 style="color:purple;font-weight: bold;">About vAyT </h3> <center>
          <hr>
                <center>
                          <h4>vAyT is a social media directory that makes you connect, share your creative ideas, 
                          passions and interests to the world. 
                          </h4>
                           </center> <h4> You can: <h4>
                      <h4>i) search for people to learn more about themselves 
                          and what they do.</h4>
                      <h4>ii) Find motivation from people or friends </h4>

        </div>
      </div>
      <div class="panel panel-primary">
          <div class="panel-body row">
            <center>
              <h5 style="color:purple;font-weight: bold;">Founder & CEO: Brima Manso Bangura </h5>
              <b>a Brima Manso Bangura production</b> <br>
              <h5 style="color:purple;font-weight: bold;">vAyT (c) 2018 </h5>
            </center>
          </div>
      </div>
  </div>
