<div class="row">
  <div class="col-lg-8 col-lg-offset-2 well">
    <center>
          <h4 style="color:purple;font-weight: bold;">
                      Find People
          </h4>
    </center>
    <hr>
    <div id="users">
      <%= render(@users) || render('shared/no_resource', resources: 'Users') %> 
      <hr>
    </div>
    <center>
      <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
    <center>

    <div class="panel panel-primary">
          <div class="panel-body row">
            <center>
              <h5 style="color:purple;font-weight: bold;">Founder & CEO: Brima Manso Bangura </h5>
              <b>a Brima Manso Bangura production</b> <br>
              <h5 style="color:purple;font-weight: bold;">vAyT (c) 2018 </h5>
            </center>
          </div>
    </div>
  </div>
</div>