<style>
    body {
            background: linear-gradient( 
                rgba(0,0,0, 0.4),
                rgba(0,0,0, 0.4)
                ), url("/star.jpg") no-repeat center center fixed
    }
        h3 {
            color: #660066;
            font-weight: bold;
        }  
        h4 {
            color: #660066;
        } 
        h5 {
          color: #660066;           
        }
        h6 {
          color: blue;            
        }
        td{
          color: white;           
        }
</style>


<div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
        <center>
                <h3> Privacy Policy</h3>
                <hr>
        </center>
        <p style="color:#660066;font-weight: bold;">
            Last Updated: This Privacy Policy was last updated on March 2018
        </p> <hr>

        <p>Our Privacy Policy is designed to help you understand how we collect,
             use and safeguard the information you provide to us and to assist you in making decisions 
             when using our website.</p>
        <p>For the purpose of this agreement, “Site” refers to the Company’s website, 
            “we,” and “our” refer to the Company. “You” refers to you, an authenticated user who successfully 
                registered to our site. </p>
        <p>Please note that by accessing 
            our site, you accept our Privacy Policy and have agreed to our <%= link_to 'Terms & Conditions', terms_path %> and you 
            consent to our 
            collection, storage and use of your Personal Information as described in this Privacy Policy.
        </p>

        <hr>        
        <center>
            <h4>I. Information We Collect </h4> 
        </center>
        <p>
            In order to use this site, you must first complete the registration form located at the 
            homepage of the website which includes some required personal information. These required information includes your full name, 
            email address and a password which you submit to us through the registration process. Please note that you must 
            have an authentic email address since a confirmation email will be sent to you after registration. Additionally, only authenticated 
             users will have access to see contents of the website. 
            <p>If you log out and wants to log in again, you will need to submit the email address 
                and password that you registered with before. By registering, you are authorizing us to collect, 
                store and use your email address in accordance with this Privacy Policy. 
            </p>
            <p>After creating your account, you may need to edit your personal profile. 
                Please note that you are not required to add a profile picture, cover picture or any other personalized questionnaires 
                that you may find in your edit profile page. However, the questions you may find may help other users learn more about you and your
                work if you choose to answer them. It is recommended that you complete some of the questions
                that you are confortable to answer so that other users can better understand you and connect with you.
            </p>
            <p>
                <h4>User Content </h4>
                    <p>Our Site allow users to post Contents on their Status Update, Like and Comment on a post. Learn more at our 
                <%= link_to 'About', about_path %> page </p>
                    
            </p>
        </p>
        </hr>

        <center>
            <hr>
                <h4>II. How We Use And Share Your Information  </h4>
        </center>
        <h5> Required Personal Information: </h5> 
    <p>Except as otherwise stated in this Privacy Policy, we do not sell, rent or share your Personal 
        Information with any third parties.
        On the other hand, we may share your Personal Information with a third party if we have a good 
        reason to believe that the disclosure of your information is important to meet any appropriate 
        legal process or to protect against harm to the rights, property, or safety of our users permitted by law. 
    </p>
        <h5>Non-Personal Information </h5>
        <p>In general, we use Non-Personal Information to help us improve the Service and customize the user experience.
            We also combine Non-Personal Information in order to track trends and analyze patterns on the Site.
             For this we use google analysis to help us achieve these patterns. You may check out their 
             <a href="https://policies.google.com/privacy" class="btn btn-info">
                  Privacy Policy
            </a> to learn more.

            This Privacy Policy does not limit in any way our use or disclosure of Non-Personal Information.
             
        </p>
        
        <hr>
        <h4>Cookies </h4>
            <p>We use "cookies" on this site. A cookie is a part of a data that is stored on a user’s hard drive to help us improve your 
            access to our site and identify users who continuously visit the site. Cookies can also enable us to track and target the 
            interests of our users to enhance the experience on our site. Kindly note that the usage of a cookie in this site does not 
            linked to any personal identification information when using our site. </p>
        <hr>
        <center><h4>III How We Protect Your Information </h4> </center>
        <p> We have implemented several security measures designed to protect your information from unauthorized access. 
            Your account is protected by your account password and we kindly urge you to take steps to keep your 
            personal information 
            safe by not disclosing your password to anybody and by logging out of your account after each use. </P>
        <p> We have also implemented a Lockable Authentication that locks an account after a number of failed attempts to sign in. 
         If you fail to put in your correct login details <b>THREE (3) Times</b>, your account will be locked Temporarily. 
         We do this to make sure that 
        your account might not be expose to any potential hacker who might want to hack into your account. </p>
        <p>Kindly note that an <b>email will be sent to you to unlock your account via the email address that you created 
        your account with. </b>
           <p> We further protect your information 
            from potential security breaches by implementing certain technological security measures 
            including encryption. When you enter sensitive information like your password, we use an encrypted software that encrypt
            your password so that no external person or machine will be able to see your password. </p>
            <p>At the address of the website, you realise that we enabled a "HTTPS" certificate. This stands for 
            Hyper Text Transfer Protocol Secure (HTTPS), i.e, a secure version of HTTP. 
            The 'S' at the end of HTTPS stands for 'Secure'. It means that all communications between your local browser and 
            the website are encrypted.
            However, we 
            do not guarantee that your information will not be accessed, disclosed, altered or 
            destroyed. By using our Site, you acknowledge that you understand and agreed to these risks. <br><br>
            This Privacy Policy applies solely to information collected by us through the Site. <b> We are not 
            responsible for the privacy 
                practices employed when a user posts a link to a website in our site. Therefore, this Privacy 
                Policy does not apply to your 
                use of a third party website accessed by you posting a link in our Site. To the extent that you 
                access another website or 
                application, then the privacy policy of that other website or application will apply to your 
                access or use of that site. 
            </b>
        </p>
        <hr>
        
         <center><h4>IV Changes To Our Privacy Policy </h4> </center>
        <p>We have the right to change this policy [i.e, add or change information] at any time. 
            If you are concerned about how your information is used, you should periodically check this 
            privacy policy page for updates or significant changes.
        </p>
        <hr>
        <center><h4>Contact Us </h4> <center>
          <p>  If you have any questions regarding this Privacy Policy or the practices of this Site, 
            please contact us by sending an email: <h4 style="color:#660066;font-weight: bold;"> infovayte@gmail.com </h4> </p>
        <div class="panel panel-primary">
          <div class="panel-body row">
            <center>
              <h5 style="color:#660066;font-weight: bold;">Founder & CEO: Brima Manso Bangura </h5>
              <b>a Brima Manso Bangura production</b> <br>
              <h5 style="color:#660066;font-weight: bold;">vAyTe (c) 2018 </h5>
            </center>
          </div>
        </div>

    </div>
</div>


