<div class="row">
    <div class="col-xs-12">
        <div class="col-lg-6 col-lg-offset-3 well">

            <center>
                <h3> Your Search Results </h3>
            </center>
                <div id="users">
                <%= render(@users) %> 
                </div>
        </div>
    </div>

</div>

