    <style>
        body {
            background: linear-gradient( 
                rgba(0,0,0, 0.4),
                rgba(0,0,0, 0.4)
                ), url("/star.jpg") no-repeat center center fixed            
        }   
    </style>

<div class="row">
    <div class="col-lg-5 col-lg-offset-4 well">

                    <%= link_to "Forgot your password?", new_password_path(:user)%> </br>
                    <%= link_to "Didn't Receive Confirmation?", new_confirmation_path(resource_name) %> </br>
                    <%= link_to "Didn't Receive Unlock Instructions?", new_unlock_path(resource_name) %>
    </div>
</div>