<style>
        h3 {
            color: white;
            font-weight: bold;
        }  
        h4 {
            color: #660066;
        } 
        h5 {
          color: #660066;           
        }
        h6 {
          color: blue;            
        }
        td{
          color: white;           
        }
</style>
  <center>
   <h5 style="color:#660066;font-weight: bold;">My Messages </h5>
  </center>

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <% @tlks.each do |tlk| %>
        <% if tlk.sender_id == current_user.id || tlk.recipient_id == current_user.id %>
          <% if tlk.sender_id == current_user.id %>
            <% recipient = User.find(tlk.recipient_id) %>
          <% else %>
            <% recipient = User.find(tlk.sender_id) %>
          <% end %>
              <%= render 'shared/avatar', user: tlk.recipient %> |<%= render 'shared/avatar', user: tlk.sender %> 
              <%= link_to recipient.name, tlk_mls_path(tlk)%> <%= tlk.tlk_time %>
              <br><hr>
        <% end %>
      <% end %>
    </div>
  </div>

